vendor
public_html/ht/plugins/*
public_html/ht/themes
public_html/ht/debug.log
!public_html/ht/plugins/batcache.php
public_html/wp
production-config.php
dev-config.php
composer.lock
public_html/ht/uploads
